include /page.pug

+page("Johan Goossens")
	+menubar("Johan Goossens")
		+menuitem("Music", "#music")
		+menuitem("Software", "#software")
		+menuitem("Design", "#design")
		+menuitem("Beer", "#beer")
		+menuitem("Biography", "#biography")
		+menuitem("Links", "#links")

	+intro("Johan A. Goossens", "'Confusion Inspired Art and Science'", "img/main/background.jpg")
		include:markdown-it main/intro.md
		+next("#music")
	+spacer()

	+section("music", "Making Music")
		include:markdown-it main/music.md
		+next("#software")
	+spacer()

	+section("software", "Software Development")
		include:markdown-it main/software.md
		+next("#design")
	+spacer()

	+section("design", "Designing Contraptions")
		include:markdown-it main/design.md
		+next("#beer")
	+spacer()

	+section("beer", "Brewing Beer")
		include:markdown-it main/beer.md
		+next("#biography")
	+spacer()

	+section("biography", "Biography")
		include:markdown-it main/biography.md
		+next("#links")
	+spacer()

	+section("links", "Relevant Links")
		include:markdown-it main/links.md
	+spacer2()

	+copyright("2019-2022", "Johan A. Goossens")
